body {
  background: black;
}

.big-container {
  margin-left:auto;
  margin-right:auto;
  width: 70%;
  height: 560px;
}

#game-canvas {
  border-bottom: 1px solid white;
}

#info {
  color: white;
}

#container {
  height: 550px;
  position: relative;
  width: 780px;
  background: black;
  border: 1px solid white;
  border-bottom: 0px;
}

#controls {
  bottom: 0;
  left: -30px;
  padding-bottom: 200px;
  position: absolute;
  width: 100%;
  color: white;
}

#controls p {
  font-family: 'Audiowide', cursive;
}

#controls h1 {
  font-family: 'Audiowide', cursive;
}

#controls button {
  font-family: 'Press Start 2P', cursive;
}

#status-bar {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  border-bottom: 1px solid white;
  font-size: 20px;
}

#status-bar ul {
  margin: 0;
  padding-top: 10px;
  list-style-type: none;
}

#status-bar ul li {
  display: inline;
  padding: 10px;
}
